body {
    background-color: #00c3ff;
    margin: 0;
    font-family: 'Source Sans 3', sans-serif; 
    overflow-x: hidden;
  }

  @keyframes pulsar {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* Aumenta o tamanho em 5% */
    }
    100% {
      transform: scale(1);
    }
  }
  
  #contador {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 32px; 
    right: 32px;
    width: 120px; 
    height: min-content; 
    background-color: #FF9F18;
    background-position: top;
    /*border: 2px solid #ff0030;*/
    outline: none;
    border-radius: 8px;
    padding:8px 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  #contador h2 {
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 0;
    margin: 5px;
  }
  
  #valorContador {
    background-color: #ff0030; 
    color: #fff; 
    padding: 8px; 
    border-radius: 6px; 
    font-size: 40px;
    line-height: 100%;
    display: inline-block; 
    width: 60%;
    height: max-content;
    text-align: center;
    font-weight: 900;
    position: relative;
    /*animation: pulsar 5s infinite ease-in-out;*/
  }
  #tagOutline{
    color: #fafafc;
    margin-top: 3px;
    font-size: 16px;
    text-transform: uppercase;
  }
  
  #barraProgresso {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px; 
    background-color: gray; 
    width: 100%;
  }