body {
    background-color: #00ff15;
    margin: 0;
    font-family: 'Source Sans 3', sans-serif; 
    overflow-x: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

  @keyframes pulsar {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05); /* Aumenta o tamanho em 5% */
    }
    100% {
      transform: scale(1);
    }
  }
  
  .contador-wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 20px; 
    right: 44px;
    width: max-content; 
    height: min-content; 
   
    background-position: top;
    /*border: 2px solid #ff0030;*/
    outline: none;
    border-radius: 8px;
    /*padding:8px 16px;*/
  }
  
  #contador h2 {
    color: #fff;
    font-family: 'Source Sans 3';
    font-size: 24px;
    line-height: 24px;
    font-weight: 700;
    text-align: center;
    padding: 0;
    margin: 0 0 8px 0;
  }
  .strip{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

    width: 200px;
    position: absolute;
    bottom:8px;
    right: 8px;
  }

   #contador {
    background-color: #000; 
    color: #0A89B4; 
    padding: 8px; 
    border-radius: 12px; 
    padding:8px 24px;
    border: 2px solid #0A89B4;
    outline: 4px solid #000;
    font-size: 48px;
    line-height: 100%;
    display: inline-block; 
    width: max-content;
    height: max-content;
    text-align: center;
    font-weight: 900;
    position: relative;
    /*animation: pulsar 5s infinite ease-in-out;*/
  }
  #contador.enem{
    border: 2px solid #ff0030;
    color: #ff0030;
  }
  #tagOutline{
    color: #fafafc;
    margin-top: 3px;
    font-size: 16px;
    text-transform: uppercase;
  }
  .swiper{
    height: 100vh;
    width: 300px;
   
  }
  #barraProgresso {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 5px; 
    background-color: gray; 
    width: 100%;
  }
